{% extends "_base.html" %}

{% block body %}

<div class="text-center">
  <h1>Hello!</h1>
</div>

<!-- <form action="/" method="POST">
  <div class="form-group">
    <input name="text" class="form-control input-lg" type="text" placeholder="Enter a message" required>
  </div>
  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
</form> -->

<div>
  <table class="table table-hover">
    <tr>
      <th>MessageSid
      <th>From
      <th>Body
      <th>Time
    {%- for message in messages %}
    <tr>
      <td>{{ message.msgId }}
      <td>{{ message.msgFrom }}
      <td>{{ message.msgBody }}            
      <td>{{ message.date_posted.strftime('%Y-%m-%d %H:%M') }}
    {%- endfor %}
  </table>
</div>

{% endblock %}